body {
  overflow-x: hidden;
  font-family: 'Playfair Display';
}

#all {
  width: 76%;
  margin: 0 auto;
  line-height: 1.5em;
  text-align: justify;
  float: right;
}

h1 {
  font-family: 'Roboto Slab', sans-serif;
}

#social {
    position: fixed;
    bottom: 0;
    right: 10px;
}

#social img {
  position: relative;
  z-index: 1;
  display: block;
  margin: 0 auto;
}

.hidden {
  display: none;
}

.right_container {
    text-align: right;
    width: 100%;
}

.left_container {
    text-align: left;
    float: left;
    width: 50%;
}

#modal {
  position: fixed;
  left: 0;
  right: 0;
  top:0;
  bottom:0;
  margin: auto;
  z-index: 9999;
  height: 94px;
  background-color: rgba(223,228,229,0.9);
  width: 43%;
  border-radius: 10px;
}

#modal-background {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 1;
  height: 100%;
  background-color: rgba(255,255,255,0.5);
  width: 100%;
}

#modal-leftpane {
  margin-left: 30px;
  float: left;
  width: 40%;
  font-weight: bold;
}

#modal-rightpane {
  float: left;
}

img.divider {
  width: 100%;
}

a {
  color: #665155;
}

ul {
    margin-top: 0px;
    padding-left: 20px;
}

.no-scroll {
  overflow-y: hidden;
}
